<h1>Auth#login</h1>


<strong><%= @message %></strong>

<%= form_tag verify_login_path do %>
  <div>
    <%= label_tag "Your Password" %>
    <%= password_field_tag :password%>
  </div>
  <div>
    <%= submit_tag "Go!" %>
  </div>
<% end %>
