
<div class="post">
  <h2><%= @post.title %></h2>
  <p><%= @post.date_published %></p>
  <%= simple_format @post.body %>


  <div class="comments">
    <h5>Comments</h5>



    <ol>
      <% @post.comments.each do |comment| %>
        <li><%= comment.body %></li>
      <% end %>
    </ol>

    <% if @comment.errors.any? %>
      <%= @comment.errors.full_messages.join(", ") %>
    <% end %>
    <%= form_for @comment, url: comment_path(article_id: @post.id) do |f|%>
      <div>
        <%= f.text_area :body, rows: 5, cols:40 %>
      </div>
      <div>
        <%= f.label :name, "Your Name" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :happy %>
        <%= f.select :happy, %w(happy ok sad) %>
      </div>
      <%= f.submit "Add Your Ridiculous Comment" %>
    <% end %>

  </div>

</div>
